.btn-warning{
    background-color: #FF6700 !important;
}

.i-logo {
    display: inline-block;
    background: url('Images/logo.svg');
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    display: block;
    background-size: contain;
    /* Other styles here */
}